/* Last edited by: Julia Caro */
/* Last edited on: May 24, 2024 */

/* html */
html {
  font-size: 10px;
  background: url('/images/background-image.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* body and html */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
}

/* all keys and above paragraph */
.content {
  margin-bottom: 55px;
}

/* sans-serif text on keys and above paragraph */
.sound, .content p {
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* above paragraph */
.content p {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* sans-serif text on keys */
.sound {
  font-size: 1.5rem;
  font-weight: bold;
}

/* all of the keys */
.keys {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

/* both rows of keys */
.row-one, .row-two {
  background-color: #28282b;
  box-shadow: 0 0 5px 5px #28282b;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

/* the first row of keys */
.row-one {
  border-radius: 30px 0 0 30px;
}

/* the first key in first row */
.row-one .key:first-of-type {
  margin-left: 0;
  border-radius: 30px 0 0 30px;
}

.row-two {
  border-radius: 0 30px 30px 0;
}

/* the last key in second row */
.row-two .key:last-of-type {
  margin-right: 0;
  border-radius: 0 30px 30px 0;
}

/* individual keys */
.key {
  border-radius: .5rem;
  margin: 0rem .5rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 10rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background: #28282b;
}

/* a key when played */
.playing {
  transform: scale(1.1);
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 0 1rem #ffffff;
  color: #28282b;
}

/* sans-serif text on keys when key is played */
.playing .sound {
  color: #28282b;
}

/* transition for each key and when being played */
.key, .playing .sound {
  transition: all 0.1s ease;
}

/* the keyboard letters on each key */
kbd {
  display: block;
  font-size: 4rem;
  font-family: "Poetsen One", serif;
}

input {
  display: none;
}

/* tablet view if screen is at most 1100 pixels wide and at least 701 pixels wide */
@media only screen and (max-width: 1100px) and (min-width: 701px) {
  /* html */
  html {
    background-position: 74% 76%;
    background-size: inherit;
  }

  /* all of the content */
  .content {
    scale: 140%;
    padding-bottom: 40px;
  }

  /* above paragraph */
  .content p {
    font-size: 1.75rem;
  }

  /* all keys */
  .keys {
    flex-direction: column;
    width: 90%;
  }

  /* individual keys */
  .key {
    padding: 0.2rem .1rem;
    width: 5.5rem;
  }

  /* the first row of keys */
  .row-one {
    margin: auto 0;
    border-radius: 30px;
  }

  /* the first key in the first row of keys */
  .row-one .key:first-of-type {
    padding-left: 10px;
  }

  /* the last key in the first row of keys */
  .row-one .key:last-of-type {
    margin-right: 0;
    padding-right: 10px;
    border-radius: 0 30px 30px 0;
  }

  /* the second row of keys */
  .row-two {
    margin: 15px auto 20px auto;
    align-self: center;
    border-radius: 30px 30px;
    box-shadow: 0 0 5px 5px #28282b;
  }

  /* the first key in the second row of keys */
  .row-two .key:first-of-type {
  margin-left: 0;
  padding-left: 5px;
  border-radius: 30px 0 0 30px;
  }

  /* the last key in the second row of keys */
  .row-two .key:last-of-type {
    padding-right: 5px;
    margin-right: 0;
    border-radius: 0 30px 30px 0;
  }

  /* the keyboard letters on each key */
  kbd {
    font-size: 3.3rem;
  }

  /* the input */
  input {
    display: block;
    padding: 5px 10px;
    margin: 8px auto;
    border: 3px solid #fff;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  /* the input on focus */
  input:focus {
    border: 3px solid #a464d9;
  }

  /* sans-serif text on keys */
  .sound {
    position: relative;
    top: -2px;
  }
}

/* mobile view if screen is at most 700 pixels wide */
@media only screen and (max-width: 700px) {
  /* html */
  html
  {
    background-position: 74% 76%;
    background-size: inherit;
  }

  /* all keys and above paragraph */
  .content
  {
    margin-bottom: 35px;
  }

  /* above paragraph */
  .content p {
    font-size: 1.75rem;
  }

  /* all keys */
  .keys {
    flex-direction: column;
    width: 90%;
  }

  /* individual keys */
  .key {
    padding: 0.2rem .1rem;
    width: 5.5rem;
  }

  /* the first row of keys */
  .row-one {
    margin: auto 0;
    border-radius: 30px;
  }

  /* the first key in the first row of keys */
  .row-one .key:first-of-type {
    padding-left: 10px;
  }

  /* the last key in the first row of keys */
  .row-one .key:last-of-type {
    margin-right: 0;
    padding-right: 10px;
    border-radius: 0 30px 30px 0;
  }

  /* the second row of keys */
  .row-two {
    margin: 15px auto 20px auto;
    align-self: center;
    border-radius: 30px 30px;
    box-shadow: 0 0 5px 5px #28282b;
  }

  /* the first key in the second row of keys */
  .row-two .key:first-of-type {
    margin-left: 0;
    padding-left: 5px;
    border-radius: 30px 0 0 30px;
  }

  /* the last key in the second row of keys */
  .row-two .key:last-of-type {
    padding-right: 5px;
    margin-right: 0;
    border-radius: 0 30px 30px 0;
  }

  /* the keyboard letters on each key */
  kbd {
    font-size: 3.3rem;
  }

  /* the input */
  input {
    display: block;
    padding: 5px 10px;
    margin: 8px auto;
    border: 3px solid #fff;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  /* the input on focus */
  input:focus {
    border: 3px solid #a464d9;
  }

  /* sans-serif text on keys */
  .sound {
    position: relative;
    top: -2px;
  }
}